[Unit]
Description=GitHub Actions Self Hosted Runner %I
PartOf=actions-runners.target
After=network.target

[Service]
ExecStart=/usr/bin/podman run --rm --privileged --name runner%I -e GITHUB_ORG_URL=%% -e GITHUB_RUNNER_NAME=runner%I --secret github_token --cap-add=CAP_AUDIT_WRITE runner
Restart=always
StandardOutput=null
StandardError=null
RestartSec=6
